{% extends 'base.html'%}

{% block content %}

<div class=" container">
<br/>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <center>
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>

              {% if product.is_sale %}
              <strike>
                ${{ product.price }}
                </strike>
                ${{product.sale_price}}


              {% else%}
              ${{ product.price }}
              {% endif %}
              <br/><br/>
              <br><br/>
              <a href="{% url 'dashboard' %}" class="btn btn-secondary">Home</a>
              <button type="button" class=" btn btn-secondary"  value="{{ product.id }}" id="add-cart">Add To Cart</button>
              <center>
            </div>
          </div>
        </div>
      </div>
    </div>
        
<h2>Comments ({{ comments.count }})</h2>
{% for comment in comments %}
    <div>
        <strong>{{ comment.user.username }}</strong> ({{ comment.created }}):<br>
      {{ comment.body }}
    </div>
{% empty %}
    <p>No comments added yet.</p>
{% endfor %}

{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p class='h-100'>{{ form.as_p }}</p>
        <button type="submit">Add Comment</button>
    </form>
{% else %}
    <p>You must be logged in to comment.</p>
{% endif %}

    </div>
</div>

{% endblock %}
