{% extends 'base.html' %}

{% block content %}
<style>
    body {
            background: white;
        }

        .profileshow {
            width: 600px;
    height: 520px;
    margin: 0;
    text: white;
   background:rgb(204, 188, 164);
    margin-left: 30%;
    color: black;
    font-size: 15px; 
    padding-top: 20px;
        }
    button {
        margin-top: 20px;
        align-items: center; 
    }

    h2 { 
        color: black;
        padding: 0px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: space-evenly;
        align-content: space-between;
        
        

    }
</style>
<div class="profileshow row justify-content-center">
    <div class="col-md-6">
        <h2>Complete Your Profile</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
            {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Save Profile</button>
            <button class="btn btn-primary"><a class="text-white" href="{% url 'profile_show' %}">Profile_show</a></button>
            
        </form>
    </div>
</div>
{% endblock %}