{% extends 'base.html' %}

{% block content %}
<style>

  .btn-outline-primary {
    border: solid;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    padding: 3px 8px;
    margin-top: 30px;
    background-color:white;
     transition: all 0.3s ease;
  }

  .btn-outline-primary:hover {
    background-color: #2a5298;
    color: white;
  }

  .sub {
    width: 600px;
    height: 330px;
    margin: 0 auto;
    text-align: center;
    background: rgb(204, 188, 164);
    color: black;
    font-size: 20px; 
    padding-top: 70px;  
  }

  h2 {
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
  }

  button {
    margin-top: 20px;
  }
</style>
<div class="sub">
<h2>Choose a Subscription Plan</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-outline-primary" type="submit">Subscribe</button>
</form>
</div>
{% endblock %}