{% extends 'base.html' %}

{% block content %}
<style>
  .sub {
    width: 600px;
    height: 330px;
    margin: 0 auto;
    text-align: center;
    background: rgb(91, 161, 199);
    color: black;
    font-size: 20px; 
    padding-top: 70px;  
  }

  h2 {
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
  }

  button {
    margin-top: 20px;
  }
</style>
<div class="sub">
<h2>Choose a Subscription Plan</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Subscribe</button>
</form>
</div>
{% endblock %}