{% extends 'base.html' %}

{% block content %}
<h2>Teacher Dashboard</h2>
<p>Welcome, {{ request.user.teacher.user.username }}!</p>

<h3>Your Courses</h3>
<div class="list-group">
    {% for course in courses %}
    <a href="#" class="list-group-item list-group-item-action">
        {{ course.title }}
    </a>
    {% empty %}
    <p>You haven't created any courses yet.</p>
    {% endfor %}
</div>

<a href="{% url 'create_course' %}" class="btn btn-success mt-3">Create New Course</a>
{% endblock %}