# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# VSCode or PyCharm
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
crud/__pycache__/__init__.cpython-311.pyc